@model MVCProyecto.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link rel="stylesheet" href="~/Estilos/Registrar.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
<section id="loginForm" class="caja">
    @Html.AntiForgeryToken()
    <h2 class="Titulo2">Registrar</h2>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Correo Electrónico", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirmar Contraseña", @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="Refistrar" type="submit" value="Registrarse" />
        </div>
    </div>
</section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
